pandas>=2.0.0
numpy==1.26.4
matplotlib>=3.7.0
seaborn>=0.13.0
missingno>=0.5.2
scikit-learn>=1.3.0
imbalanced-learn>=0.11.0
xgboost==2.0.3
shap==0.45.1
torch
torchvision
torchaudio
rtdl
chromadb
sentence-transformers
PyPDF2
ollama
streamlit
plotly
python-dotenv==1.0.1