../venv/
backend/.env
__pycache__/
*.pyc
.git/
.gitignore
archive/
backend/notebooks/
backend/docs/
backend/chroma_db/
backend/data/raw/
backend/data/other/
backend/data/processed/
*.log
*.sqlite3
.ipynb_checkpoints/